/* Hide everything above this component. */
app, body, html {
  display: block !important;
  height: auto !important;
  width: auto !important;
  position: static !important;
  margin: 0;
  padding: 0;
}
